# This file contains the base for the shared homeserver config file between Synapse workers,
# as part of ./Dockerfile-workers.
# configure_workers_and_start.py uses and amends to this file depending on the workers
# that have been selected.
# Don't bother hand editing this file directly, unless you know what you are doing. Changes
# will not be saved between container rebuilds or image updates. Settings which are
# currently auto-genenerated end up here and override changes made to homeserver.yaml,
# which does not get changed between.
# TLDR: settings in this file override settings in homeserver.yaml.

{% if enable_redis %}
redis:
    enabled: true
    host: {{ redis_host }}
    port: {{ redis_port }}
{% if redis_password %}
    password: {{ redis_password }}
{% endif %}
{% endif %}

{% if appservice_registrations is not none %}
## Application Services ##
# A list of application service config files to use.
app_service_config_files:
{%- for path in appservice_registrations %}
  - "{{ path }}"
{%- endfor %}
{%- endif %}

{{ shared_worker_config }}
