lt-cred-mech
use-auth-secret
static-auth-secret={{ coturn_secret }}
realm=turn.{{ server_name }}
cert=/data/{{ server_name }}.tls.crt
pkey=/data/{{ server_name }}.tls.key
dh-file=/data/{{ server_name }}.tls.dh
cipher-list="HIGH"
